
.title{
  font-weight: bold;
}

.preference-answers{
  margin: left;
  width: 60%;
  padding-left: 200px;
  color: black;
  font-size: 18px;
}

.preference-flavor{
  margin: left;
  width: 60%;
  padding-left: 200px;
  color: black;
  font-style: italic;
}

.preference-beer{
  margin: left;
  width: 60%;
  padding-left: 200px;
  color: black;
  font-style: italic;
}

.preference-center{
  margin: left;
  width: 60%;
  padding-left: 200px;
  color: black;
}

.form-control{
  width: 300px;
}

.button-enter{
 float: right;
}

@font-face {
  font-family: komikax;
  src: url(/fonts/KOMIKAX_.tff);
}

@font-face {
    font-family: gnuolane; /*a name to be used later*/
    src: url(/fonts/gnuolane.tff); /*URL to font*/
}

.fb-messengermessageus {
	margin-top:5px;
	margin-right:10px;
	width:170px;
	text-align:center;
}
.modal-title {
  font-family: 'Komika Axis';
}

.site-title{
	text-align: right;
	font-family: 'Komika Axis';
}

.thumbnail{
	background-color: transparent;
	border-color: transparent;
}
.imgholder {
  text-align: center;
  transform: translateY(25%);
}


body {
  min-height: 2000px;
  padding-top: 70px;
  font-family: "Gnuolane";
  background-color: white;
  color: black;
}


.navigation{
	list-style: none;
	width: 100%;
	height: 100%;
	position: fixed;
	padding-bottom: 200px;
	border-bottom-style: white;
}

.nav-item{
	display: inline-block;
	padding-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}



/*.navbar-inner ul.nav li {
    text-align: center;
}*/
.modal-body {
  padding:20px;
}
.modal-body span {
  word-wrap: break-all;
}
.beer-info{
	display: none;
	background-color: #336699;
	position: absolute;
	top: 50%;
	left: 50%;
	/*bottom: 50%;*/
	/*right: 50%;*/
	width: 75%;
	height: 75%;
	margin-left: -40%;
	margin-top: -20%;
  color: white;
}

 .suggestion{
  display: table-cell;
  width: 50px;
  }

.beer-image{
  width: inherit;
  height: 200px;
  margin-left: 40px;
  margin-right: 40px;
  /*display: center;*/
}

.header{
	padding-bottom: 30px;
}

.image_change:hover {
    transform: scale(1.3);
    /*box-shadow: 0 4px 2px -2px rgba(255, 255, 255, 0.7);*/
}

h4.beer-name{
	font-style: bold;
	font-size: 1em;
	/*margin-left: 40px;*/
}

.beer{
	text-align: center;
}

.btn-default:hover{
	border-color: transparent;
}

.btn-default{
	border-color: transparent;
}



.left-info{
	float: right;
	/*overflow: hidden;*/
	position: left;
}


/*adds scroll for section*/
.wrapper { 
        	width: 900px; 
	/*white-space: nowrap;*/
	overflow-y: hidden;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	padding-top: 40px;
	margin-bottom: 80px;
    }

p.description{
	position: right;
	margin-left: 50px;
}

.beer-info-image{
	height: 300px;
	width: inherit;
	float: left;
  display:block;
}

.order-button{

}

.explore{
	margin-bottom: 40px;
}




